.chart-container {
    width: 70%;
    max-width: 800px;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.chart-title {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Line Chart */

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis-label {
    font-size: 14px;
    font-weight: bold;
    /* color: white */
}