text {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
}

text.title {
    font-size: 24px;
    font-weight: 500;
}

.tt {
    display: flex;
    justify-content: center;
    color: white;
    height: 4vh;
    font-size: 3vh;
}

text.subTitle {
    font-weight: 500;
    fill: white;
}

text.caption {
    font-weight: 400;
    font-size: 14px;
    fill: white;
}

text.label {
    font-weight: 600;
    fill: white;
}

text.valueLabel {
    font-weight: 300;
    fill: white;
}

text.yearText {
    font-size: 64px;
    font-weight: 300;
    fill: white;
}

.tick text {
    fill: white;
}

.xAxis .tick:nth-child(2) text {
    text-anchor: start;
}

.tick line {
    shape-rendering: CrispEdges;
    stroke: #dddddd;
}

.tick line.origin {
    stroke: #aaaaaa;
}

path.domain {
    display: none;
}

/* For Globe */

#choropleth {
    margin-bottom: 15px;
    width: 100%;
}

svg {
    margin: 10px;
    padding: 15px;
    /* background-color: rgb(22, 151, 151); */
}

.choropleth {
    display: flex;
    justify-content: center;
}